// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Style
@import "./style.css";

//jquery
@import '~jquery-ui/themes/base/all.css';
