@font-face {
    font-family: iran-sans;
    src: url(../font/IranianSans.ttf);
}

a {
    display: inline;
}


header {
    background-color:rgb(4, 77, 95);
    width: 100%;
    height: 60px;
    float: right;
}
.logo{
    float: right ;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}
.text-logo {
    float: right ;
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: -10px 10px 10px 0px;
}
.date {
    float: left;
    text-align: center;
    background-color: rgb(70, 165, 165);
    border-radius: 10px;
    margin: 15px 0 10px 50px;

}
.date h5 {
    color: white;
    margin: 5px 25px 5px 25px;
    font-size: 20px;
    font-family: iran-sans;
}
.date span {
    color: rgb(255, 194, 27);
    margin: 5px 25px 5px 25px;
    font-size: 20px;
}
.hoshdar {
    margin: 10px 0 10px 25px;
    float: left;
}
.home {
    margin: 10px 0 10px 25px;
    float: left;
}
#sidebar {
    float: right;
    background-color: rgb(4, 77, 95);
    width: 20%;
    height: 100%;
    overflow: auto;

}
#bodyfull {
    float: right;
    width: 80%;
    background-color: rgb(252, 251, 250);

}

.today-ico {
    overflow: auto;
    position: fixed ;
    margin: 0 0 50px 50px;
    float: left;
    bottom: 15px;
    left: 15px;


}

label .menu-mob {
    position: fixed;
    left: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

/* ایجاد نشان گر منو در قسمت بالای سمت راست */
label .hamburger:after, label .hamburger:before {
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

/* ایجاد انیمیشن حرکت صفحه سفید و نمایش آیتم های منو */
label input:checked + .menu-mob {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
}

/*تغییر زاویه  علامت نشانگر منو*/
label input:checked + .menu-mob .hamburger {
    transform: rotate(45deg);
}
label input:checked + .menu-mob .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}


label input:checked + .menu-mob .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

label input:checked + .menu-mob + ul { opacity: 1; }

/* نمایش آیتم های منو */
label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
}

#sidebar .menu ul{
    list-style-type: none;
    padding-right: 0px;
    background-color: rgb(4, 77, 95);
    width: 80%;
    height: 100%;
    float: right;
    margin: 0px;
    padding: 0px;

}
#sidebar .menu li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(70, 165, 165);
    text-align: right;
    padding: 20px;

}
#sidebar .menu li span {
    color: white;
    margin-right: 5px;
    font-size: 20px;
    float: right;
    text-align: right;
}

.menu {
    float: right;
    width: 100%;
    height: auto;
}
.today-worklist {
    float: right;
    width: 100%;
    height: auto;
    background-color: rgb(252, 251, 250);
    margin-top: 5px;
}

.today-worklist .twl-block {
    float: right;
    width: 98%;
    height: auto;
    margin: 5px 1% 5px 1%;
    background-color: rgb(252, 251, 250);
    border-color: rgb(4, 77, 95);
    border: 1px solid ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.today-worklist .twl-block .twlb-head {
    background-color: rgb(4, 77, 95);
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: right;
    font-family: iran-sans;
}
.today-worklist .twl-block .twlb-head h4 {
    font-family: iran-sans;
    text-align: center;
    color: white;
    direction: rtl;
}

.today-worklist .twl-body {
    float: right;
    width: 100%;
    height: auto;
    font-family: iran-sans;
    margin-right: 0%;

    text-align: center;
}
.today-worklist .twl-body ul {
    list-style-type: circle;
    border-bottom: 1px solid rgb(4, 77, 95);
    margin: 5px 2.5% 5px 2.5%;
    float: right;
    width: 95%;
    height: auto;
}
.today-worklist .twl-body li {
    font-size: 12px;
    float: right;
    margin: 2px 3% 0 3%;
}

.today-worklist .twl-block button{
    width: 60%;
    float: right;
    margin: 10px 20% 10px 20%;
    background-color: rgb(4, 77, 95);
    text-align: center;
    color: white;
    border-radius: 7px;
}
.today-worklist .twl-block button:hover {
    width: 60%;
    float: right;
    margin: 10px 20% 10px 20%;
    background-color: rgb(248, 249, 250);
    text-align: center;
    color: rgb(6, 52, 104);
    border-radius: 7px;
}
#bodyfull .dayblock.db-body span {
    color: white;
    margin: 3px 5px 3px 5px;
}

#bodyfull .dayblock {
    width: 31%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: 5px 1% 5px 1%;
    border-color: teal;
    border: 1px solid rgb(4, 77, 95);
    float: right;
}
#bodyfull .dayblock .db-head {
    float: right;
    background-color: rgb(4, 77, 95);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height:70px ;
}
#bodyfull .dayblock .db-date-name {
    float: right;
    text-align: center;
    border:1px solid rgb(70, 165, 165);
    width: 70%;
    margin-top: 15px;
    margin-right: 15%;
    border-radius: 10px;
}
#bodyfull .dayblock .db-date-name h4 {
    color: rgb(243, 179, 4);
    text-align: center;
    margin: 10px 20px 10px 20px;
}

#bodyfull .dayblock .db-body {
    width: 95%;

    float: right;
    text-align: center;

}

#bodyfull .db-body ul {
    list-style-type: circle;
    border-bottom: 1px solid rgb(4, 77, 95);
    margin: 5px 2.5% 5px 2.5%;

}
#bodyfull .dayblock .db-body button{
    width: 60%;
    float: right;
    margin: 10px 20% 10px 20%;
    background-color: rgb(4, 77, 95);
    text-align: center;
    color: white;
    border-radius: 7px;
}
#bodyfull .dayblock .db-body button:hover {
    width: 60%;
    float: right;
    margin: 10px 20% 10px 20%;
    background-color: rgb(248, 249, 250);
    text-align: center;
    color: rgb(6, 52, 104);
    border-radius: 7px;
}
#bodyfull .dayblock.db-body span {
    color: white;
    margin: 3px 5px 3px 5px;
}




/* home front css style --------------------------------- */
.h-main {
    float: right;
    background-image: url(../images/home-bg.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;

}
.h-login-sid {
    float: right;
    width: 38%;
    height: auto;
    background-color: rgb(17, 23, 31);
    margin: 20px 2% 20px 1%;
    border-radius: 10px;

}
.h-login-body {
    float: right;
    width: 96%;
    height: auto;
    padding: 2%;
}
.h-login-head {
    float: right;
    text-align: center;
    direction: rtl;
    width: 100%;
    height: auto;
}
.h-login-head h3 {
    font-family: iran-sans;
    font-size: 20px;
    text-align: center;

    float: right;
    color: white;
    width: 100%;
    direction: rtl;
}
.h-login-head h6 {
    font-family: iran-sans;
    font-size: 16px;
    color: white;
    float: right;
    margin-top: -10px;
    text-align: center;
    width: 100%;
    height: auto;
    direction: rtl;
}
.h-login-box {
    float: right;
    width: 60%;
    height: auto;

    border-radius: 10px;

    margin: 10px 20% 10px 20%;
}
.h-login-box input {
    width: 95%;
    height: auto;
    font-family: iran-sans;
    background-color: white;
    color: #000;
    float: right;
    margin: 5px 1% 5px 1%;
    text-align: center;
    border-radius: 10px;

}
.h-login-fot {
    float: right;
    width: 90%;
    height: auto;
    text-align: center;
    color: white;
    font-family: iran-sans;
    margin: 20px 5% 20px 5%;
}
.h-login-fot h3 {
    text-align: center;
    font-size: 12px;
}
.h-login-fot h4 {
    text-align: center;
    color: rgb(243, 179, 4);
}
.h-login-fot h6 {
    text-align: center;
    color: rgb(70, 165, 165);
}
.h-dis-sid {
    float: left;
    width: 56%;
    height: auto;
    background-color: rgb(4, 77, 95);
    margin: 20px 1% 20px 2%;
    border-radius: 10px;
}
.h-dis-body {
    float: right;
    width: 96%;
    height: auto;
    margin: 10px 2% 10px 2%;

}
.h-dis-logo {
    width: 30%;
    height: auto;
    float: right;
    display: none;
}
.h-dis-logo img {
    float: right;
    margin: 10px 10% 10px ;
    height: auto;
    display: none;
}
.h-dis-head {
    float: right;
    width: 90%;
    height: auto;
    margin: 10px 5% 10px;
}
.h-dis-head h4 {
    font-family: iran-sans;
    font-size: 20px;
    color: white;
    text-align: center;
}
.h-dis-head h6 {
    font-family: iran-sans;
    font-size: 14px;
    color: white;
    text-align: center;
}
.h-dis-content {
    float: right;
    width: 94%;
    height: auto;
    margin: 10px 3% 12px 3%;
}
.h-dis-content p {
    font-family: iran-sans;
    font-size: 16px;
    text-align: justify;
    color: white;
}
.h-login-box-log {
    float: right;
    width: 90%;
    height: auto;
    margin: 10px 5% 10px 5%;
}
.h-login-log {
    float: right;
    width: 48%;
    height: auto;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
    font-family: iran-sans;
    margin: 0px 1% 0px 1%;
}
.h-login-log:hover {
    float: right;
    width: 48%;
    height: auto;
    text-align: center;
    background-color:rgb(243, 179, 4);
    border-radius: 10px;
    font-family: iran-sans;
    margin: 0px 1% 0px 1%;
}
.h-login-log h6 {
    text-align: center;
    font-size: 15px;
    margin: 10px 0 10px 0;
    color: black;
}
.h-login-sign {
    float: left;
    width: 48%;
    height: auto;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
    font-family: iran-sans;
    margin: 0px 1% 0px 1%;
}
.h-login-sign:hover {
    float: left;
    width: 48%;
    height: auto;
    text-align: center;
    background-color:rgb(243, 179, 4);
    border-radius: 10px;
    font-family: iran-sans;
    margin: 0px 1% 0px 1%;
}
.h-login-sign h6 {
    text-align: center;
    font-size: 15px;
    margin: 10px 0 10px 0;
    color: black;
}
.h-login-forgot {
    float: right;
    width: 98%;
    height: auto;
    margin: 9px 1% 5px 1%;
    background-color: rgb(6, 104, 99);
    font-family: iran-sans;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.h-login-forgot:hover {
    float: right;
    width: 98%;
    height: auto;
    margin: 9px 1% 5px 1%;
    background-color: rgb(243, 179, 4);
    font-family: iran-sans;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.h-login-forgot h6 {
    color: white;
    font-size: 14px;
    text-align: center;
    direction: rtl;
    margin: 10px 0px 10px 0;
}
.h-login-box-input {
    float: right;
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: 8px 5% 0 5%;
}








@media screen and (min-width: 280px) {
    header {
        background-color:rgb(4, 77, 95);
        width: 100%;
        height: auto;
        float: right;

    }
    .logo{
        float: right ;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    .text-logo {
        float: right ;
        text-align: right;
        color: white;
        font-size: 20px;
        font-family: iran-sans;
        margin: -10px 10px 10px 0px;
    }
    .date {
        float: left;
        text-align: center;
        background-color: rgb(70, 165, 165);
        border-radius: 10px;
        margin: 15px 0 10px 50px;

    }
    .date h5 {
        color: white;
        margin: 5px 25px 5px 25px;
        font-size: 20px;
        font-family: iran-sans;
    }
    .date span {
        color: rgb(255, 194, 27);
        margin: 5px 25px 5px 25px;
        font-size: 20px;
        font-family: iran-sans;
    }
    .hoshdar {
        margin: 10px 0 10px 25px;
        float: left;
    }
    .home {
        margin: 10px 0 10px 25px;
        float: left;
    }
    #sidebar {
        float: right;
        background-color: rgb(4, 77, 95);
        width: 100%;
        height: auto;
    }
    #bodyfull {
        float: right;
        width: 100%;
        background-color: rgb(252, 251, 250);
        height: 100%;
    }

    .today-ico {
        overflow: auto;
        position: fixed ;
        margin: 0 0 50px 50px;
        float: left;
    }

    #sidebar .menu ul{
        list-style-type: none;
        padding-right: 0px;
        background-color: rgb(4, 77, 95);
        width: 80%;
        height: 100%;
        float: right;
        margin: 0px;
        padding: 0px;

    }
    #sidebar .menu li{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid rgb(70, 165, 165);
        text-align: right;
        padding: 20px;

    }
    #sidebar .menu li span {
        color: white;
        margin-right: 5px;
        font-size: 20px;
        float: right;
        text-align: right;
    }
    .menu {
        float: right;
        width: 100%;
        height: auto;
    }
    .today-worklist {
        float: right;
        width: 100%;
        height: auto;
        background-color: rgb(252, 251, 250);
        margin-top: 5px;
    }

    .today-worklist .twl-block {
        float: right;
        width: 98%;
        height: auto;
        margin: 5px 1% 5px 1%;
        background-color: rgb(252, 251, 250);
    }
    .today-worklist .twl-block .twlb-haed {
        background-color: rgb(4, 77, 95);
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        float: right;
        font-family: iran-sans;
    }
    .today-worklist .twl-block .twlb-haed h4 {
        font-family: iran-sans;
        text-align: center;
        color: white;
        direction: rtl;
    }

    .today-worklist .twl-body {
        float: right;
        width: 100%;
        height: auto;
        font-family: iran-sans;
    }
    .today-worklist .twl-body ul {
        list-style-type: none;
        padding-right: 0px;
        background-color: rgb(252, 251, 250);
        width: 80%;
        height: 100%;
        float: right;
        margin: 0px;
        padding: 0px;
    }
    #bodyfull .dayblock {
        width: 94%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        margin: 5px 2% 5px 2%;
        border-color: teal;
        border: 1px solid rgb(4, 77, 95);
        float: right;
        font-family: iran-sans;
    }
    #bodyfull .dayblock .db-head {
        float: right;
        background-color: rgb(4, 77, 95);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height:70px ;
    }
    #bodyfull .dayblock .db-date-name {
        float: right;
        text-align: center;
        border:1px solid rgb(70, 165, 165);
        width: 70%;
        margin-top: 15px;
        margin-right: 15%;
        border-radius: 10px;
    }
    #bodyfull .dayblock .db-date-name h4 {
        color: rgb(243, 179, 4);
        text-align: center;
        margin: 10px 20px 10px 20px;
    }

    #bodyfull .dayblock .db-body {
        width: 95%;

        float: right;
        text-align: center;

    }

    #bodyfull .db-body ul {
        list-style-type: circle;
        border-bottom: 1px solid rgb(4, 77, 95);
        margin: 5px 2.5% 5px 2.5%;

    }
    #bodyfull .dayblock .db-body button{
        width: 60%;
        float: right;
        margin: 10px 20% 10px 20%;
        background-color: rgb(4, 77, 95);
        text-align: center;
        color: white;
        border-radius: 7px;
    }
    #bodyfull .dayblock .db-body button:hover {
        width: 60%;
        float: right;
        margin: 10px 20% 10px 20%;
        background-color: rgb(248, 249, 250);
        text-align: center;
        color: rgb(6, 52, 104);
        border-radius: 7px;
    }
    #bodyfull .dayblock.db-body span {
        color: white;
        margin: 3px 5px 3px 5px;
    }

    /* home front css style --------------------------------- */
    .h-main {
        float: right;
        background-image: url(../images/home-bg.jpg);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0%;
        top: 0%;

    }
    .h-login-sid {
        float: right;
        width: 94%;
        height: auto;
        background-color: rgb(17, 23, 31);
        margin: 20px 3% 20px 3%;
        border-radius: 10px;

    }
    .h-login-body {
        float: right;
        width: 96%;
        height: auto;
        padding: 2%;
    }
    .h-login-head {
        float: right;
        text-align: center;
        direction: rtl;
        width: 100%;
        height: auto;
    }
    .h-login-head h3 {
        font-family: iran-sans;
        font-size: 20px;
        text-align: center;

        float: right;
        color: white;
        width: 100%;
        direction: rtl;
    }
    .h-login-head h6 {
        font-family: iran-sans;
        font-size: 16px;
        color: white;
        float: right;
        margin-top: -10px;
        text-align: center;
        width: 100%;
        height: auto;
        direction: rtl;
    }
    .h-login-box {
        float: right;
        width: 60%;
        height: auto;

        border-radius: 10px;

        margin: 10px 20% 10px 20%;
    }
    .h-login-box input {
        width: 95%;
        height: auto;
        font-family: iran-sans;
        background-color: white;
        color: #000;
        float: right;
        margin: 5px 1% 5px 1%;
        text-align: center;
        border-radius: 10px;

    }
    .h-login-fot {
        float: right;
        width: 90%;
        height: auto;
        text-align: center;
        color: white;
        font-family: iran-sans;
        margin: 20px 5% 20px 5%;
    }
    .h-login-fot h3 {
        text-align: center;
        font-size: 12px;
    }
    .h-login-fot h4 {
        text-align: center;
        color: rgb(243, 179, 4);
    }
    .h-login-fot h6 {
        text-align: center;
        color: rgb(70, 165, 165);
    }
    .h-dis-sid {
        float: left;
        width: 94%;
        height: auto;
        background-color: rgb(4, 77, 95);
        margin: 20px 3% 20px 3%;
        border-radius: 10px;
    }
    .h-dis-body {
        float: right;
        width: 96%;
        height: auto;
        margin: 10px 2% 10px 2%;

    }
    .h-dis-logo {
        width: 30%;
        height: auto;
        float: right;
        display: none;
    }
    .h-dis-logo img {
        float: right;
        margin: 10px 10% 10px ;
        height: auto;
        display: none;
    }
    .h-dis-head {
        float: right;
        width: 90%;
        height: auto;
        margin: 10px 5% 10px;
    }
    .h-dis-head h4 {
        font-family: iran-sans;
        font-size: 20px;
        color: white;
        text-align: center;
    }
    .h-dis-head h6 {
        font-family: iran-sans;
        font-size: 14px;
        color: white;
        text-align: center;
    }
    .h-dis-content {
        float: right;
        width: 94%;
        height: auto;
        margin: 10px 3% 12px 3%;
    }
    .h-dis-content p {
        font-family: iran-sans;
        font-size: 16px;
        text-align: justify;
        color: white;
    }
    .h-login-box-log {
        float: right;
        width: 90%;
        height: auto;
        margin: 10px 5% 10px 5%;
    }
    .h-login-log {
        float: right;
        width: 48%;
        height: auto;
        text-align: center;
        background-color: bisque;
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-log:hover {
        float: right;
        width: 48%;
        height: auto;
        text-align: center;
        background-color:rgb(243, 179, 4);
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-log h6 {
        text-align: center;
        font-size: 15px;
        margin: 10px 0 10px 0;
        color: black;
    }
    .h-login-sign {
        float: left;
        width: 48%;
        height: auto;
        text-align: center;
        background-color: bisque;
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-sign:hover {
        float: left;
        width: 48%;
        height: auto;
        text-align: center;
        background-color:rgb(243, 179, 4);
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-sign h6 {
        text-align: center;
        font-size: 15px;
        margin: 10px 0 10px 0;
        color: black;
    }
    .h-login-forgot {
        float: right;
        width: 98%;
        height: auto;
        margin: 9px 1% 5px 1%;
        background-color: rgb(6, 104, 99);
        font-family: iran-sans;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }
    .h-login-forgot:hover {
        float: right;
        width: 98%;
        height: auto;
        margin: 9px 1% 5px 1%;
        background-color: rgb(243, 179, 4);
        font-family: iran-sans;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }
    .h-login-forgot h6 {
        color: white;
        font-size: 14px;
        text-align: center;
        direction: rtl;
        margin: 10px 0px 10px 0;
    }
    .h-login-box-input {
        float: right;
        width: 90%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        margin: 8px 5% 0 5%;
    }





}

@media screen and (min-width: 768px) {
    header {
        background-color:rgb(4, 77, 95);
        width: 100%;
        height: auto;
        float: right;

    }
    .logo{
        float: right ;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    .text-logo {
        float: right ;
        text-align: right;
        color: white;
        font-size: 20px;
        font-family: iran-sans;
        margin: -10px 10px 10px 0px;
    }
    .date {
        float: left;
        text-align: center;
        background-color: rgb(70, 165, 165);
        border-radius: 10px;
        margin: 15px 0 10px 50px;

    }
    .date h5 {
        color: white;
        margin: 5px 25px 5px 25px;
        font-size: 20px;
        font-family: iran-sans;
    }
    .date span {
        color: rgb(255, 194, 27);
        margin: 5px 25px 5px 25px;
        font-size: 20px;
        font-family: iran-sans;
    }
    .hoshdar {
        margin: 10px 0 10px 25px;
        float: left;
    }
    .home {
        margin: 10px 0 10px 25px;
        float: left;
    }
    #sidebar {
        float: right;
        background-color: rgb(4, 77, 95);
        width: 20%;
        height: auto;
    }
    #bodyfull {
        float: right;
        width: 80%;
        background-color: rgb(252, 251, 250);
        height: 100%;
    }

    .today-ico {
        overflow: auto;
        position: fixed ;
        margin: 0 0 50px 50px;
        float: left;
    }

    #sidebar .menu ul{
        list-style-type: none;
        padding-right: 0px;
        background-color: rgb(4, 77, 95);
        width: 80%;
        height: 100%;
        float: right;
        margin: 0px;
        padding: 0px;
        font-family: iran-sans;

    }
    #sidebar .menu li{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid rgb(70, 165, 165);
        text-align: right;
        padding: 20px;

    }
    #sidebar .menu li span {
        color: white;
        margin-right: 5px;
        font-size: 20px;
        float: right;
        text-align: right;
    }

    .menu {
        float: right;
        width: 100%;
        height: auto;
    }
    .today-worklist {
        float: right;
        width: 100%;
        height: auto;
        background-color: rgb(252, 251, 250);
        margin-top: 5px;
    }

    .today-worklist .twl-block {
        float: right;
        width: 98%;
        height: auto;
        margin: 5px 1% 5px 1%;
        background-color: rgb(252, 251, 250);
    }
    .today-worklist .twl-block .twlb-haed {
        background-color: rgb(4, 77, 95);
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        float: right;
        font-family: iran-sans;
    }
    .today-worklist .twl-block .twlb-haed h4 {
        font-family: iran-sans;
        text-align: center;
        color: white;
        direction: rtl;
    }

    .today-worklist .twl-body {
        float: right;
        width: 100%;
        height: auto;
        font-family: iran-sans;
    }

    .today-worklist .twl-body ul {
        list-style-type: none;
        padding-right: 0px;
        background-color: rgb(252, 251, 250);
        width: 80%;
        height: 100%;
        float: right;
        margin: 0px;
        padding: 0px;
    }

    #bodyfull .dayblock {
        width: 46%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        margin: 5px 1.7% 5px 1.7%;
        border-color: teal;
        border: 1px solid rgb(4, 77, 95);
        float: right;
        font-family: iran-sans;
    }
    #bodyfull .dayblock .db-head {
        float: right;
        background-color: rgb(4, 77, 95);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height:70px ;
    }
    #bodyfull .dayblock .db-date-name {
        float: right;
        text-align: center;
        border:1px solid rgb(70, 165, 165);
        width: 70%;
        margin-top: 15px;
        margin-right: 15%;
        border-radius: 10px;
    }
    #bodyfull .dayblock .db-date-name h4 {
        color: rgb(243, 179, 4);
        text-align: center;
        margin: 10px 20px 10px 20px;
    }

    #bodyfull .dayblock .db-body {
        width: 95%;

        float: right;
        text-align: center;

    }

    #bodyfull .db-body ul {
        list-style-type: circle;
        border-bottom: 1px solid rgb(4, 77, 95);
        margin: 5px 2.5% 5px 2.5%;

    }
    #bodyfull .dayblock .db-body button{
        width: 60%;
        float: right;
        margin: 10px 20% 10px 20%;
        background-color: rgb(4, 77, 95);
        text-align: center;
        color: white;
        border-radius: 7px;
    }
    #bodyfull .dayblock .db-body button:hover {
        width: 60%;
        float: right;
        margin: 10px 20% 10px 20%;
        background-color: rgb(248, 249, 250);
        text-align: center;
        color: rgb(6, 52, 104);
        border-radius: 7px;
    }
    #bodyfull .dayblock.db-body span {
        color: white;
        margin: 3px 5px 3px 5px;
    }

    /* home front css style --------------------------------- */
    .h-main {
        float: right;
        background-image: url(../images/home-bg.jpg);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0%;
        top: 0%;

    }
    .h-login-sid {
        float: right;
        width: 38%;
        height: auto;
        background-color: rgb(17, 23, 31);
        margin: 20px 2% 20px 1%;
        border-radius: 10px;

    }
    .h-login-body {
        float: right;
        width: 96%;
        height: auto;
        padding: 2%;
    }
    .h-login-head {
        float: right;
        text-align: center;
        direction: rtl;
        width: 100%;
        height: auto;
    }
    .h-login-head h3 {
        font-family: iran-sans;
        font-size: 20px;
        text-align: center;

        float: right;
        color: white;
        width: 100%;
        direction: rtl;
    }
    .h-login-head h6 {
        font-family: iran-sans;
        font-size: 16px;
        color: white;
        float: right;
        margin-top: -10px;
        text-align: center;
        width: 100%;
        height: auto;
        direction: rtl;
    }
    .h-login-box {
        float: right;
        width: 60%;
        height: auto;

        border-radius: 10px;

        margin: 10px 20% 10px 20%;
    }
    .h-login-box input {
        width: 95%;
        height: auto;
        font-family: iran-sans;
        background-color: white;
        color: #000;
        float: right;
        margin: 5px 1% 5px 1%;
        text-align: center;
        border-radius: 10px;

    }
    .h-login-fot {
        float: right;
        width: 90%;
        height: auto;
        text-align: center;
        color: white;
        font-family: iran-sans;
        margin: 20px 5% 20px 5%;
    }
    .h-login-fot h3 {
        text-align: center;
        font-size: 12px;
    }
    .h-login-fot h4 {
        text-align: center;
        color: rgb(243, 179, 4);
    }
    .h-login-fot h6 {
        text-align: center;
        color: rgb(70, 165, 165);
    }
    .h-dis-sid {
        float: left;
        width: 56%;
        height: auto;
        background-color: rgb(4, 77, 95);
        margin: 20px 1% 20px 2%;
        border-radius: 10px;
    }
    .h-dis-body {
        float: right;
        width: 96%;
        height: auto;
        margin: 10px 2% 10px 2%;

    }
    .h-dis-logo {
        width: 30%;
        height: auto;
        float: right;
        display: none;
    }
    .h-dis-logo img {
        float: right;
        margin: 10px 10% 10px ;
        height: auto;
        display: none;
    }
    .h-dis-head {
        float: right;
        width: 90%;
        height: auto;
        margin: 10px 5% 10px;
    }
    .h-dis-head h4 {
        font-family: iran-sans;
        font-size: 20px;
        color: white;
        text-align: center;
    }
    .h-dis-head h6 {
        font-family: iran-sans;
        font-size: 14px;
        color: white;
        text-align: center;
    }
    .h-dis-content {
        float: right;
        width: 94%;
        height: auto;
        margin: 10px 3% 12px 3%;
    }
    .h-dis-content p {
        font-family: iran-sans;
        font-size: 16px;
        text-align: justify;
        color: white;
    }
    .h-login-box-log {
        float: right;
        width: 90%;
        height: auto;
        margin: 10px 5% 10px 5%;
    }
    .h-login-log {
        float: right;
        width: 48%;
        height: auto;
        text-align: center;
        background-color: bisque;
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-log:hover {
        float: right;
        width: 48%;
        height: auto;
        text-align: center;
        background-color:rgb(243, 179, 4);
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-log h6 {
        text-align: center;
        font-size: 15px;
        margin: 10px 0 10px 0;
        color: black;
    }
    .h-login-sign {
        float: left;
        width: 48%;
        height: auto;
        text-align: center;
        background-color: bisque;
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-sign:hover {
        float: left;
        width: 48%;
        height: auto;
        text-align: center;
        background-color:rgb(243, 179, 4);
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-sign h6 {
        text-align: center;
        font-size: 15px;
        margin: 10px 0 10px 0;
        color: black;
    }
    .h-login-forgot {
        float: right;
        width: 98%;
        height: auto;
        margin: 9px 1% 5px 1%;
        background-color: rgb(6, 104, 99);
        font-family: iran-sans;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }
    .h-login-forgot:hover {
        float: right;
        width: 98%;
        height: auto;
        margin: 9px 1% 5px 1%;
        background-color: rgb(243, 179, 4);
        font-family: iran-sans;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }
    .h-login-forgot h6 {
        color: white;
        font-size: 14px;
        text-align: center;
        direction: rtl;
        margin: 10px 0px 10px 0;
    }
    .h-login-box-input {
        float: right;
        width: 90%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        margin: 8px 5% 0 5%;
    }


}

@media screen and (min-width: 1200px) {
    header {
        background-color:rgb(4, 77, 95);
        width: 100%;
        height: auto;
        float: right;

    }
    .logo{
        float: right ;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    .text-logo {
        float: right ;
        text-align: right;
        color: white;
        font-size: 20px;
        font-family: iran-sans;
        margin: -10px 10px 10px 0px;
    }
    .date {
        float: left;
        text-align: center;
        background-color: rgb(70, 165, 165);
        border-radius: 10px;
        margin: 15px 0 10px 50px;

    }
    .date h5 {
        color: white;
        margin: 5px 25px 5px 25px;
        font-size: 20px;
        font-family: iran-sans;
    }
    .date span {
        color: rgb(255, 194, 27);
        margin: 5px 25px 5px 25px;
        font-size: 20px;
        font-family: iran-sans;
    }
    .hoshdar {
        margin: 10px 0 10px 25px;
        float: left;
    }
    .home {
        margin: 10px 0 10px 25px;
        float: left;
    }
    #sidebar {
        float: right;
        background-color: rgb(4, 77, 95);
        width: 20%;
        height: auto;
    }
    #bodyfull {
        float: right;
        width: 80%;
        background-color: rgb(252, 251, 250);
        height: 100%;
    }

    .today-ico {
        overflow: auto;
        position: fixed ;
        margin: 0 0 50px 50px;
        float: left;
    }

    #sidebar .menu ul{
        list-style-type: none;
        padding-right: 0px;
        background-color: rgb(4, 77, 95);
        width: 80%;
        height: 100%;
        float: right;
        margin: 0px;
        padding: 0px;
        font-family: iran-sans;
    }
    #sidebar .menu li{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid rgb(70, 165, 165);
        text-align: right;
        padding: 20px;

    }
    #sidebar .menu li span {
        color: white;
        margin-right: 5px;
        font-size: 20px;
        float: right;
        text-align: right;
    }
    .menu {
        float: right;
        width: 100%;
        height: auto;
    }
    .today-worklist {
        float: right;
        width: 100%;
        height: auto;
        background-color: rgb(252, 251, 250);
        margin-top: 5px;
    }

    .today-worklist .twl-block {
        float: right;
        width: 98%;
        height: auto;
        margin: 5px 1% 5px 1%;
        background-color: rgb(252, 251, 250);
    }
    .today-worklist .twl-block .twlb-haed {
        background-color: rgb(4, 77, 95);
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        float: right;
        font-family: iran-sans;
    }
    .today-worklist .twl-block .twlb-haed h4 {
        font-family: iran-sans;
        text-align: center;
        color: white;
        direction: rtl;
    }

    .today-worklist .twl-body {
        float: right;
        width: 100%;
        height: auto;
        font-family: iran-sans;
    }
    .today-worklist .twl-body ul {
        list-style-type: none;
        padding-right: 0px;
        background-color: rgb(252, 251, 250);
        width: 80%;
        height: 100%;
        float: right;
        margin: 0px;
        padding: 0px;
    }

    #bodyfull .dayblock {
        width: 31%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        margin: 5px 1% 5px 1%;
        border-color: teal;
        border: 1px solid rgb(4, 77, 95);
        float: right;
        font-family: iran-sans;
    }
    #bodyfull .dayblock .db-head {
        float: right;
        background-color: rgb(4, 77, 95);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height:70px ;
    }
    #bodyfull .dayblock .db-date-name {
        float: right;
        text-align: center;
        border:1px solid rgb(70, 165, 165);
        width: 70%;
        margin-top: 15px;
        margin-right: 15%;
        border-radius: 10px;
    }
    #bodyfull .dayblock .db-date-name h4 {
        color: rgb(243, 179, 4);
        text-align: center;
        margin: 10px 20px 10px 20px;
    }

    #bodyfull .dayblock .db-body {
        width: 95%;

        float: right;
        text-align: center;

    }

    #bodyfull .db-body ul {
        list-style-type: circle;
        border-bottom: 1px solid rgb(4, 77, 95);
        margin: 5px 2.5% 5px 2.5%;

    }
    #bodyfull .dayblock .db-body button{
        width: 60%;
        float: right;
        margin: 10px 20% 10px 20%;
        background-color: rgb(4, 77, 95);
        text-align: center;
        color: white;
        border-radius: 7px;
    }
    #bodyfull .dayblock .db-body button:hover {
        width: 60%;
        float: right;
        margin: 10px 20% 10px 20%;
        background-color: rgb(248, 249, 250);
        text-align: center;
        color: rgb(6, 52, 104);
        border-radius: 7px;
    }
    #bodyfull .dayblock.db-body span {
        color: white;
        margin: 3px 5px 3px 5px;
    }

    /* home front css style --------------------------------- */
    .h-main {
        float: right;
        background-image: url(../images/home-bg.jpg);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0%;
        top: 0%;

    }
    .h-login-sid {
        float: right;
        width: 38%;
        height: auto;
        background-color: rgb(17, 23, 31);
        margin: 20px 2% 20px 1%;
        border-radius: 10px;

    }
    .h-login-body {
        float: right;
        width: 96%;
        height: auto;
        padding: 2%;
    }
    .h-login-head {
        float: right;
        text-align: center;
        direction: rtl;
        width: 100%;
        height: auto;
    }
    .h-login-head h3 {
        font-family: iran-sans;
        font-size: 20px;
        text-align: center;

        float: right;
        color: white;
        width: 100%;
        direction: rtl;
    }
    .h-login-head h6 {
        font-family: iran-sans;
        font-size: 16px;
        color: white;
        float: right;
        margin-top: -10px;
        text-align: center;
        width: 100%;
        height: auto;
        direction: rtl;
    }
    .h-login-box {
        float: right;
        width: 60%;
        height: auto;

        border-radius: 10px;

        margin: 10px 20% 10px 20%;
    }
    .h-login-box input {
        width: 95%;
        height: auto;
        font-family: iran-sans;
        background-color: white;
        color: #000;
        float: right;
        margin: 5px 1% 5px 1%;
        text-align: center;
        border-radius: 10px;

    }
    .h-login-fot {
        float: right;
        width: 90%;
        height: auto;
        text-align: center;
        color: white;
        font-family: iran-sans;
        margin: 20px 5% 20px 5%;
    }
    .h-login-fot h3 {
        text-align: center;
        font-size: 12px;
    }
    .h-login-fot h4 {
        text-align: center;
        color: rgb(243, 179, 4);
    }
    .h-login-fot h6 {
        text-align: center;
        color: rgb(70, 165, 165);
    }
    .h-dis-sid {
        float: left;
        width: 56%;
        height: auto;
        background-color: rgb(4, 77, 95);
        margin: 20px 1% 20px 2%;
        border-radius: 10px;
    }
    .h-dis-body {
        float: right;
        width: 96%;
        height: auto;
        margin: 10px 2% 10px 2%;

    }
    .h-dis-logo {
        width: 30%;
        height: auto;
        float: right;
        display: none;
    }
    .h-dis-logo img {
        float: right;
        margin: 10px 10% 10px ;
        height: auto;
        display: none;
    }
    .h-dis-head {
        float: right;
        width: 90%;
        height: auto;
        margin: 10px 5% 10px;
    }
    .h-dis-head h4 {
        font-family: iran-sans;
        font-size: 20px;
        color: white;
        text-align: center;
    }
    .h-dis-head h6 {
        font-family: iran-sans;
        font-size: 14px;
        color: white;
        text-align: center;
    }
    .h-dis-content {
        float: right;
        width: 94%;
        height: auto;
        margin: 10px 3% 12px 3%;
    }
    .h-dis-content p {
        font-family: iran-sans;
        font-size: 16px;
        text-align: justify;
        color: white;
    }
    .h-login-box-log {
        float: right;
        width: 90%;
        height: auto;
        margin: 10px 5% 10px 5%;
    }
    .h-login-log {
        float: right;
        width: 48%;
        height: auto;
        text-align: center;
        background-color: bisque;
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-log:hover {
        float: right;
        width: 48%;
        height: auto;
        text-align: center;
        background-color:rgb(243, 179, 4);
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-log h6 {
        text-align: center;
        font-size: 15px;
        margin: 10px 0 10px 0;
        color: black;
    }
    .h-login-sign {
        float: left;
        width: 48%;
        height: auto;
        text-align: center;
        background-color: bisque;
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-sign:hover {
        float: left;
        width: 48%;
        height: auto;
        text-align: center;
        background-color:rgb(243, 179, 4);
        border-radius: 10px;
        font-family: iran-sans;
        margin: 0px 1% 0px 1%;
    }
    .h-login-sign h6 {
        text-align: center;
        font-size: 15px;
        margin: 10px 0 10px 0;
        color: black;
    }
    .h-login-forgot {
        float: right;
        width: 98%;
        height: auto;
        margin: 9px 1% 5px 1%;
        background-color: rgb(6, 104, 99);
        font-family: iran-sans;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }
    .h-login-forgot:hover {
        float: right;
        width: 98%;
        height: auto;
        margin: 9px 1% 5px 1%;
        background-color: rgb(243, 179, 4);
        font-family: iran-sans;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }
    .h-login-forgot h6 {
        color: white;
        font-size: 14px;
        text-align: center;
        direction: rtl;
        margin: 10px 0px 10px 0;
    }
    .h-login-box-input {
        float: right;
        width: 90%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        margin: 8px 5% 0 5%;
    }




}
